<h1>試合予定編集画面</h1>
<h3>管理者様へ~注意点~</h3>
<p>・会場は2文字~100文字以内で記載お願いします</p>
<p>・大会名は2文字~100文字以内で記載お願いします</p>
<p>・対戦相手は2文字~100文字以内で記載お願いします</p>
<%= render 'game', game: @game%>

<%= link_to 'Home' , root_path %>
