<div class="p_new_wrapper">
  <h1>部員追加画面</h1>
  <div class="explain">
    <h3>例.</h3>
    <p>名前:名工太郎</p>
    <p>背番号:55(※0~99まで)</p>
    <p>出身高校:向陽高校</p>
    <p>身長:177</p>
    <p>画像:部員の写真(もし無い場合はデフォルトの画像が使用されます)</p>
    <p>ポジション:部員のポジション</p>
    <p>学年:部員の学年</p>
  </div>
</div>

<%= render 'player', player: @player%>
<%= link_to 'Home', root_path%>
